* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: rgb(24, 23, 23);
    color: white;
}

nav {
    background: none;
    opacity: 0.8;
}

.text-name {
    margin: auto;
}


.top-wrapper {
    height: 680px;
    background-size: cover;
    background-image: url('img/gunung.png.jpg');

}

.header {
    padding-top: 100px;
}

.clm-logo:hover{
    background-color:rgb(255, 255, 255);
    transition: 0.7s ease-out;
}


.pic-ctn {
  position: relative;
  width: 70%;
  height: 300px;
  margin-top: 15vh;
 
}

.pic-ctn > img {
  position: absolute;
  top: 0;
  left: calc(70% - 100px);
  opacity: 0;
  animation: display 20s infinite;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

/* Pengaturan delay yang lebih rapi */
.pic-ctn > img:nth-child(1) {
  animation-delay: 0s;
}
.pic-ctn > img:nth-child(2) {
  animation-delay: 4s;
}
.pic-ctn > img:nth-child(3) {
  animation-delay: 8s;
}
.pic-ctn > img:nth-child(4) {
  animation-delay: 12s;
}
.pic-ctn > img:nth-child(5) {
  animation-delay: 16s;
}



@media screen and (max-width: 1200px){
    .card-title {
        min-height: 48px;
    }  
    .long-text {
        font-size: 9px;
    }
}

/* @media screen and (max-width: 453px){
    .long-text {
        font-size: 9px;
    }  
} */